---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Century Gothic', Helvetica, sans-serif;
$index-font-family: 'Century Gothic', sans-serif;
$base-font-size:   13px;
$small-font-size:  $base-font-size * 0.875;
$large-font-size: $base-font-size * 1.425;
$base-line-height: 1.5;
$header-background: url("/images/pw222dx-img.jpg");

$spacing-unit:     40px;

$text-color:       #333;
$background-color: #E0E7D2;
$background-color-light: #FDFAE5;
$color-box-transparancy: rgba(255,255,255,0.8);
$color-box-transparancy-light: rgba(255,255,255,0.6);
$brand-color:      #333;

$grey-color:       #333;
$grey-color-light: lighten($grey-color, 70%);
$grey-color-dark:  darken($grey-color, 55%);

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
