/**
 * Site header
 */
.site-header {
    //border-top: 5px solid $grey-color-dark;
    border-bottom: 4px solid $background-color-light;
    min-height: 140px;

    // Positioning context for the mobile navigation icon
    position: relative;
    .wrapper {
        max-width: 80%;
        padding-top: $spacing-unit;
        padding-bottom: $spacing-unit/2;
    }
    background: $header-background {
        repeat: no-repeat;
        size: 100%;
        position: 0% 20%;
    }
}

.index-header {
    @extend .site-header;
    background-position: 0% 0%;
    height: 63vh;
    .wrapper {
        max-width: 80%;
        padding: 0;
        padding-top: $spacing-unit * 2;
    }

    .site-title {
        font: $large-font-size * 5 $index-font-family;
    }

    .index-nav {
        @extend .site-nav;
        font: $large-font-size $index-font-family;
        padding-top: $spacing-unit *0.75;
    }

    .index-box {
        width: 19vw;
        padding: 1.6%;
        margin-left: $spacing-unit*3;
        margin-top: $spacing-unit*0.75;
        background-color: $color-box-transparancy;
        p {
            font: $large-font-size*1.4 $index-font-family;
        }
    }

}

.site-title {
    font-size: $large-font-size *3;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px dashed #000000;
    padding: $spacing-unit 0;
}

.index-footer {
    height: 35vh;
    .footer-col {
        padding-top: $spacing-unit/2;
    }
    .footer-col-wrapper {
        font: $large-font-size * 1.2 $index-font-family;
        text-align: center;
    }

    .footer-col-3 {
        float: left;
        text-align: center;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
    li {
        padding: 1%;
    }
}

.footer-col-wrapper {
    font: $base-font-size $index-font-family;
    color: $grey-color-dark;
    margin-left: -$spacing-unit*1.5;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
    text-align: right;
    float: right;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
    border-top: 1px dashed #000000;
    min-height: 40vh;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    li {
        margin-bottom: $spacing-unit;
        float: left;
        width: 19vw;
        margin-left: 1%;
        padding: 1.6%;
        background-color: $color-box-transparancy;
        p {
            font: $large-font-size $index-font-family;
        }
    }

    h3 {
        margin-bottom: 0;
    }

    .post-excerpt {
        border-bottom: 1px dashed black;
        padding: 3% 0;
        margin-bottom: 0;
    }

    h2 {
        margin-bottom: 0;
    }
}

.special-wrapper {
    @extend .wrapper;
    max-width: 95vw;
    margin: auto;
    padding: 0;
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.comment-count {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
